##定义初始变量
#set($tableName = $tool.append($tableInfo.name, "RepositoryDao"))
#set($E = $!{tableInfo.name})
#set($e = $!tool.firstLowerCase($!{tableInfo.name}))
##设置回调
$!callback.setFileName($tool.append($tableName, ".java"))
$!callback.setSavePath($tool.append($tableInfo.savePath, "/dao"))

##拿到主键
#if(!$tableInfo.pkColumn.isEmpty())
    #set($pk = $tableInfo.pkColumn.get(0))
#end

#if($tableInfo.savePackageName)package $!{tableInfo.savePackageName}.#{end}dao;

import $!{tableInfo.savePackageName}.entity.$!{E};
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;
import org.springframework.data.domain.Pageable;
import java.util.List;

/**
 * $!{tableInfo.comment}($!{E})表数据库访问层
 * @author $!author
 * @since $!time.currTime()
 */
@Mapper
public interface $!{tableName} {

int insert$!{E}($!{E} $!{e});

int insert$!{E}sBatch(@Param("entities") List<$!{E}> entities);

int delete$!{E}ById($!pk.shortType $!pk.name);

int delete$!{E}sBatchByIds(@Param("ids") List<Integer> ids);

int update$!{E}ById($!{E} $!{e});

int insertOrUpdate$!{E}sBatch(@Param("entities") List<$!{E}> entities);

    $!{E} select$!{E}ById($!pk.shortType $!pk.name);

long select$!{E}sCount($!{E} $!{e});

List<$!{E}> select$!{E}sByPage($!{E} $!{e}, @Param("pageable") Pageable pageable);
}
