##定义初始变量
#set($tableName = $tool.append($tableInfo.name, "BaseService"))
#set($E = $!{tableInfo.name})
#set($e = $!tool.firstLowerCase($!{tableInfo.name}))
##设置回调
$!callback.setFileName($tool.append($tableName, ".java"))
$!callback.setSavePath($tool.append($tableInfo.savePath, "/service"))

##拿到主键
#if(!$tableInfo.pkColumn.isEmpty())
    #set($pk = $tableInfo.pkColumn.get(0))
#end

#if($tableInfo.savePackageName)package $!{tableInfo.savePackageName}.#{end}service;

import $!{tableInfo.savePackageName}.entity.$!{E};
import org.springframework.data.domain.Page;
import org.springframework.data.domain.PageRequest;

import java.util.List;

/**
 * $!{tableInfo.comment}($!{E})表服务接口
 *
 * @author $!author
 * @since $!time.currTime()
 */
public interface $!{tableName} {

void addNew$!{E}($!{E} $!{e});

void addNew$!{E}sBatch(List<$!{E}> $!{e}s);

void remove$!{E}ById($!pk.shortType $!pk.name);

void remove$!{E}sBatchByIds(List<Integer> ids);

void update$!{E}DetailsById($!{E} $!{e});

void addNewOrUpdate$!{E}sBatch(List<$!{E}> $!{e}s);

    $!{E} get$!{E}ById($!pk.shortType $!pk.name);

Page<$!{E}> get$!{E}sByPage($!{E} $!{e}, PageRequest pageRequest);
}